# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
.idea
.vscode
*.swp

# Tests
/coverage
/.nyc_output

# Env
.env
.env.local
.env.*.local
!.env.example

# Temp
*.tsbuildinfo
/uploads
